html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
body{
    font-family: Arial;
    margin: none;

}
h1{
    font-size: 50px;
}
h4{
    color: gray;
}
.highlight {
    color: tomato;

}
.highlight:hover{
    size: 52px;
    color: dimgrey;
}
.half-width{
    width: 450px;
    float: left;
    margin: 50px;
    padding: 20px;
}
.half-width img{
    width: 80%;
    transition: transform .2s;
}
.half-width img:hover{
    transform: scale(1.1);
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    color: white;
    border-radius: 5px;
  
}
.link-button:hover{
    font-size: 18px;
}
.web-top{
    background-image: url("web-portfolio-2/images/header-bg.png");
    background-position: left;
}
.web-middle{
    background-image: url("web-portfolio-2/images/biography-bg.png");
}
.web-third{
    background-image: url("web-portfolio-2/images/latest-work-bg.png");
}
section{
    height:600px;
    width: auto;
}
.latest-work{
    text-align: center;
    font-size: 40px;
}
.image-setting img{
width: 400px;
margin: 10px;
padding: 10px;
transition: transform .2s;
}
.image-setting img:hover{
    transform: scale(1.1);
}
.client-say{
    font-size: 50px;
    text-align: center;
}
.client-review{
    text-align: center;
}

.contact-info{
    width: 500px;
    background-color: darkred;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: auto;
    transition: transform .2s;
}
.contact-info:hover{
    transform: scale(1.1);
}
.final-task{
    background-image: url("web-portfolio-2/images/footer-bg.png");
}